<div class="container">
  <ul class="bs-masthead-links">
    <li class="copyright-notice">
      &copy; Zed 2013. All Rights Reserved
    </li>

    <li><%= link_to "About", "#" %></li>
    <li><%= link_to "Privacy", "#" %></li>
    <li><%= link_to "Features", "#" %></li>
    </ul>
</div>