<!DOCTYPE html>
<html>
<head>
  <title>Zed</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

    <p>
      Choose the audio file
      <input type="file"></input>
    </p>

    <audio controls>
      <p>Your browser does not support the audio element.</p>
    </audio>

    <audio id="sliced-audio" controls>
    </audio>

    <a href="">Download</a>

</body>
</html>